.contents-basis {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #aab89d;
  align-items: center;
}

.contents-basis p {
  margin: 0;
  padding: 0 10px;
  text-align: center;
}

.contents-basis .number {
  flex: 0.5; /* 번호 칸을 작게 */
}

.contents-basis .basis-title {
  flex: 3; /* 제목을 가장 넓게 */
}

.contents-basis .author {
  flex: 1.5; /* 작성자 칸 */
}

.contents-basis .date {
  flex: 2; /* 작성일 칸 */
}

.contents-basis .views {
  flex: 0.5; /* 조회수 칸 */
}

.contents-upload {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  align-items: center;
}

.contents-upload p {
  margin: 0;
  text-align: center;
  flex: 1;
}

.contents-upload .number {
  flex: 0.5; /* 번호 칸 */
}

.contents-upload .basis-title {
  flex: 3; /* 제목 칸 */
}

.contents-upload .author {
  flex: 1.5; /* 작성자 칸 */
}

.contents-upload .date {
  flex: 2; /* 작성일 칸 */
}

.contents-upload .views {
  flex: 0.5; /* 조회수 칸 */
}
