.contents-basis {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #aab89d;
  align-items: center; /* 항목이 중앙에 오도록 설정 */
}

.contents-basis p {
  flex-grow: 1;
  margin: 0;
  padding: 0 10px;
  text-align: center;
}

.contents-basis .number {
  flex-grow: 0.5; /* 번호 칸을 적절하게 조정 */
}

.contents-basis .basis-title {
  flex-grow: 3; /* 제목을 가장 넓게 */
}

.contents-basis .author {
  flex-grow: 1.5; /* 작성자 공간 조정 */
}

.contents-basis .date {
  flex-grow: 1.5;
}

.contents-basis .views {
  flex-grow: 1; /* 조회수 칸 크기 조정 */
}

.contents-upload {
  border: 1px solid #ddd;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center; /* 내용 중앙 정렬 */
}

.contents-upload p {
  flex-grow: 1;
  text-align: center;
}

.contents-empty {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

